
a:hover {
	text-decoration: none!important;
}
/*幻灯片*/
#silde-container { 
	width: 100%; 
	max-height: 650px; 
	overflow: hidden; 
	position: relative;
}

#list { 
	width: 1200%; 
	max-height: 650px; 
	position: absolute; 
	left: -100%;
	z-index: 1;
}


#list img { 
	float: left; 
	width: calc( 100% / 12); 
	max-height: 500px;
}

#buttons { 
	position: absolute; 
	z-index: 2; 
	bottom: 20px; 
	left: calc( (100% - 1200px) / 2 + 40px);
}

#buttons span { 
	cursor: pointer; 
	font-size: 16px;
	color: #fff;
	float: left; 
	width: 38px; 
	height: 10px; 
	border-radius: 5px; 
	background: #00923f;
	opacity: 0.8; 
	margin-right: 15px;
	position: relative;
}

#buttons span p {
	position: absolute;
	top: -20px;
	left: 10px;
	display: none;
}

#buttons span:nth-child(1) p {
	display: block;
}

#buttons .on {  
	background: #fff;
}

.arrow { 
	cursor: pointer; 
	display: none; 
	line-height: 39px; 
	text-align: center; 
	font-size: 36px; 
	font-weight: bold; 
	width: 40px; 
	height: 70px;  
	position: absolute; 
	z-index: 2; 
	top: 40%; 
	background-color: RGBA(0,0,0,.3); 
	color: #fff;
	opacity: 0.5;
}

.arrow:hover { 
	background-color: RGBA(0,0,0,.7);
}

#silde-container:hover .arrow { 
	display: block;
}

#prev { 
	left: 20px;
	background: url(../images/arrow-l.png) no-repeat center;
	background-color: rgba(0,0,0,.3);
	padding: 15px;
}

#next { 
	right: 20px;
	background: url(../images/arrow-r.png) no-repeat center;
	background-color: rgba(0,0,0,.3);
	padding: 15px;
}

#prev:hover,
#next:hover {
	background-color: rgba(0,0,0,.6);
}


@media only screen and (max-width: 1200px) {
	#buttons { 
		position: absolute; 
		z-index: 2; 
		bottom: 20px; 
		left: 40%;
	}

	#prev { 
		left: 25px;
	}

	#next { 
		right: 25px;
	}
}

@media only screen and (max-width: 769px) {
	.arrow {  
		top: 30%; 
	}

	#buttons span { 
		font-size: 12px;
		width: 20px; 
		height: 6px; 
		border-radius: 3px; 
		margin-right: 8px;
	}

	#buttons span p {
		top: -17px;
		left: 3px;
	}

	#buttons { 
		bottom: 10px; 
	}
}

/*标题*/
.item-title {
	margin-bottom: 30px;
}

.item-title h2 {
	font-size: 18px;	
	display: inline;
	padding-left: 10px;
}

.item-title h3 {
	font-size: 14px;
	font-weight: normal;
	color: #ccc;
	display: inline;
	padding-left: 10px;
}

/*特征*/
.features {
	max-width: 1200px;
	margin: 0 auto;
	font-size: 0;
	margin-top: 30px;
}

.features .features-left {
	float: left;
}

.features .features-right {
	float: right;
}

.features .features-mid {
    float: left;
    margin: 0 20px;
    height: 226px;
    border: 1px solid #b0b0b0;
    width: 645px;
    text-align: center;
}

.features .features-mid a {
	border-radius: 50%;
    color: #FFF;
    font-size: 16px;
    width: 150px;
    height: 150px;
    line-height: 150px;
}

.features .features-mid h3 {
    text-align: center;
    border-bottom: 1px solid #b0b0b0;
    font-size: 20px;
    line-height: 1.8;
    color: #555;
    font-weight: normal;
}

.features .features-mid .features-mid-list {
	margin-top: 20px;
}

.features .features-mid .features-mid-list .features-mid-item {
    background-size: 230px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-left: 50px;
    cursor: pointer;
}

.features .features-mid .features-mid-list .features-mid-peach {
	background: url(../images/p16.jpg) no-repeat center;	
}

.features .features-mid .features-mid-list .features-mid-cherry {
	background: url(../images/p17.jpg) no-repeat center;
}

.features .features-mid .features-mid-list .features-mid-rose {
	background: url(../images/p18.jpg) no-repeat center;
}


.features .features-mid .features-mid-list .features-mid-item div {
    border-radius: 50%;
    background-color: rgba(0,0,0,.6);
    transition: all .2s ease;
}

.features .features-mid .features-mid-list .features-mid-item div:hover {
	background-color: rgba(0,0,0,0);
}

.features .features-mid .features-mid-list .features-mid-item div:hover a {
	opacity: 0;
}



.features .features-item img {
	width: 256px;
	height: 154px;
}

.features .features-item div {
	width: 256px;
    height: 54px;	
    text-align: center
}

.features .features-item div a {
    color: #FFF;
    font-size: 16px;
    width: 256px;
    height: 54px;
    display: block;
    padding-top: 20px;
    background: #00923f;
}


@media only screen and (max-width: 1200px){
	.features .features-item {
		display: none;
	}

	.features .features-mid {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

}

@media only screen and (max-width: 769px) {
	.features .features-mid .features-mid-list .features-mid-item {
	    float: none;
	    margin: 20px auto;
	}

	.features .features-mid {
	    float: none;
	    margin: 0 20px;
	    height: auto;
	    width: 80%;
	}

	.features .features-mid h3 {
	    font-size: 15px;
	    padding: 5px 0;
	}

}

/*案列*/
.cases {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 0;	
}

.cases .cases-item {
	float: left;
	width: 32%;
	text-align: center;
	box-sizing: border-box;
	padding-top: 30px;
	border: 1px solid #ccc;
	box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.cases .cases-item:hover {
	box-shadow: 0 0 5px rgba(0,146,63,.9);
}

.cases .cases-item img {
	width: 50%;
	transition: all .3s ease;
}

.cases .cases-item .cases-item-img {
	height: 130%;
}

.cases .cases-item img:hover {
	width: 60%;
} 

.cases .cases-item + .cases-item {
	margin-left: 2%;
}

.cases .cases-item .cases-item-text {
	margin-top: 20px;
	margin-bottom: 50px;
}

.cases .cases-item .cases-item-text h3 {
	color: #555;
	font-weight: normal;
	font-size: 16px;
	line-height: 2;
}

.cases .cases-item .cases-item-text p {
	color: #555;
	font-size: 14px;
	line-height: 2;
}

.cases .cases-item .cases-item-text p .cases-item-text-price {
	color: #c00;
	font-size: 22px;
}

@media only screen and (max-width: 769px){
	.cases .cases-item img {
		width: 90%;
	}

	.cases .cases-item img:hover {
		width: 100%;	
	} 

	.cases .cases-item .cases-item-text {
		margin-bottom: 25px;
	}

	.cases .cases-item .cases-item-text h3 {
		font-size: 14px;
	}
	.cases .cases-item .cases-item-text p .cases-item-text-price {
		font-size: 18px;
	}

}


/*广告*/
.ad {
	max-width: 1200px;
	margin: 40px auto;
}

.ad img {
	width: 100%;
}

/*产品*/
.produces {
	max-width: 1200px;
	margin: 60px auto;	
} 

.produces .produces-left {
	width: 23%;
	float: left;
	margin-right: 1.5%;
}

.produces .produces-left img {
	width: 100%;
	height: 308px;
}

.produces .produces-left .produces-left-item {
	position: relative;
	text-align: center;
	margin-bottom: 14px;
}

.produces .produces-left .produces-left-item .produces-left-item-text {
	position: absolute;
	width: 200px;
	height: 96px;
	bottom: 20px;
	left: 50%;
	background: url(../images/2016030917132370.png) no-repeat center;
	background-size:cover;
	transform: translateX(-50%);
	color: #555;
}

.produces .produces-left .produces-left-item .produces-left-item-text h4 {
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 15px 0 10px 0;
	border-bottom: 1px dashed #ccc;
}

.produces .produces-left .produces-left-item .produces-left-item-text p {
	font-size: 18px;
	padding: 10px 0 10px 0;

}

.produces .produces-left .produces-left-item .produces-left-item-icon {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.produces .produces-left .produces-left-item .produces-left-item-icon p{
	margin: 15px;
	color: #fff;
	font-weight: 500;
	transform: rotateZ(315deg);
}

.produces .produces-left .produces-left-item .produces-left-item-icon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-right: 80px solid transparent;
	border-left: 80px solid #8fb53d;
	border-bottom: 80px solid transparent;
	height:0;
	width:0;
	z-index: -1;
}

.produces .produces-right {
	float: left;
	width: 75%;
}

.produces .produces-right .produces-right-item {
	width: 23%;
	text-align: center;
	margin: 0 5px 20px 5px;
	padding: 15px 0;
	border: 1px solid transparent;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	float: left;
}

.produces .produces-right .produces-right-item:hover {
	border: 1px solid #00923f;
}

.produces .produces-right .produces-right-item img {
	max-width: 150px;
}

.produces .produces-right .produces-right-item .produces-right-item-text {
	margin: 10px 0;
}

.produces .produces-right .produces-right-item .produces-right-item-text h3 {
	font-size: 12px;
	font-weight: normal;
	line-height: 2;
	color: #555;
}

.produces .produces-right .produces-right-item .produces-right-item-text h3:hover {
	color: #00923f;
}

.produces .produces-right .produces-right-item .produces-right-item-text p {
	font-size: 14px;
	line-height: 2;
}

.produces .produces-right .produces-right-item .produces-right-item-text p .produces-right-item-text-price {
	color: #c00;
	font-size: 22px;
}

@media only screen and (max-width: 1200px){
	.produces .produces-right .produces-right-item {
		width: 31%;
	}
}


@media only screen and (max-width: 769px) {
	.produces .produces-right .produces-right-item {
		width: 45%;
	}
	.produces .produces-left {
		display: none;
	}

	.produces .produces-right {
		width: 90%;
		margin: 0 auto;
		float: none;
	}

	.produces .produces-right .produces-right-item img {
		width: 90%;
	}

	.produces .produces-right .produces-right-item .produces-right-item-text p .produces-right-item-text-price {
		font-size: 18px;
	}
}

/*页脚*/
footer {
	width: 100%;
	border-top: 1px solid #ccc;
}

.security {
	max-width: 1200px;
	margin: 30px auto;
}

.security img {
	width: 100%;
}


.security .security-mobile {
	display: none;
}

@media only screen and (max-width: 769px) {
	.security>img {
		display: none;
	}
	.security .security-mobile {
		display: block;
		width: 90%;
		margin: 0 auto;
	}

	.security .security-mobile img {
		width: 49%;
	}
}

/*返回顶部*/
.totop {
	background-color: #00923f;
	position: fixed;
	right: 0;
	bottom: 10%;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition:all ease .2s;
	border-radius: 5px;
}

.totop img {
	padding: 10px 5px;
}

@media only screen and (max-width: 769px) {
	.totop img {
		width: 40px;
	}
}

/*动画*/
.animation-up {
	animation:moveUp 1s ease .1s backwards;
}

@keyframes moveUp {
	0% {
		transform: translateY(3000px);
	}
	60% {
		transform: translateY(-20px);
	}
	75% {
		transform: translateY(10px);
	}
	90% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0px);
	}
}

.animation-right {
	animation:moveRight 1s ease-in-out .1s backwards;
}

@keyframes moveRight {
	0% {
		transform: translateX(-2000px);
	}
	60% {
		transform: translateX(20px);
	}
	75% {
		transform: translateX(-10px);
	}
	90% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0px);
	}
}
.animation-left {
	animation:moveLeft 1s ease-in-out .1s backwards;
}

@keyframes moveLeft {
	0% {
		transform: translateX(2000px);
	}
	60% {
		transform: translateX(-20px);
	}
	75% {
		transform: translateX(10px);
	}
	90% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0px);
	}
}

/*产品列表*/
/*product*/
.image img{
	width: 100%;
	max-height: 500px;
}

.product {
	max-width: 1200px;
	margin: 30px auto;
}

/*面包屑导航*/
.breadcrumbs-nav {
  padding: 5px 0;
}

.breadcrumbs-nav a {
  color: #e6003e;
}

.breadcrumbs-nav a:hover {
  border-bottom: 1px solid #e6003e;
}

.breadcrumbs-nav a,
.breadcrumbs-nav span {
  font-size: 12px;
  line-height: 16px;
  padding: 3px 0;
  float: left;
}

.breadcrumbs-nav span {
  color: #999;
}

.breadcrumbs-nav>i{
  font-size: 16px;
  line-height: 16px;
  margin: 5px 10px;
  float: left;
  color: #999;
}

/*侧边栏*/
.product-sidebar {
	float: left;
	width: 170px;	
}

 .product-title h2 {
 	font-size: 16px;
 	line-height: 30px;
 	border-bottom: 1px solid #ccc;
 }

.product-sidebar .product-sidebar-menu {
	margin-top: 10px;
	border-right: 1px solid #ccc;
}

 .product-sidebar .product-sidebar-menu li a {
 	color: #777;
 	font-size:16px;
 	line-height: 2.5;
 	padding: 0 5px;
 	transition: all ease .2s;
 }

 .product-sidebar .product-sidebar-menu li a:hover {
 	color: #00923f;
 	padding-left: 20px;
 }

.product-content {
	float: left;
	width: calc(100% - 200px);
 	margin-left: 10px;
}

.product-content-order {
	background-color: #f2f2f2;
	overflow: hidden;
	border: 1px solid #ccc;
	margin: 10px 0;
	font-size: 0;
}

.product-content-order ul li {
	display: inline-block;
}

.product-content-order ul li a {
	color: #666;
	font-size: 14px;
	line-height: 2.3;
	padding: 25px;
	border-right: 1px solid #ccc;
}

.product-content-order ul li a:hover {
	background-color: #fff;
}

.order-current {
	background-color: #fff;
}

.product-content-list .product-content-item {
	width: 24%;
	box-sizing: border-box;
	text-align: center;
	margin: 0 5px 20px 5px;
	padding: 15px 0;
	border: 1px solid transparent;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	float: left;
}

.product-content-list .product-content-item:hover {
	border: 1px solid #00923f;
}

.product-content-list .product-content-item img {
	max-width: 180px;
}

.product-content-list .product-content-item .product-content-item-text {
	margin-bottom: 10px;
}

.product-content-list .product-content-item .product-content-item-text h3 {
	font-size: 12px;
	font-weight: normal;
	color: #666;
	margin: 15px 0;
}

.product-content-list .product-content-item .product-content-item-text h3:hover {
	color: #00923f;
}

.product-content-list .product-content-item .product-content-item-text .text-left {
	float: left;
	font-size: 12px;
}

.product-content-list .product-content-item .product-content-item-text .text-right {
	float: right;	
	font-size: 12px;
}

.product-content-list .product-content-item .product-content-item-text .product-content-item-text-price,
.product-content-list .product-content-item .product-content-item-text .product-content-item-text-num {
	color: #c00;
	font-size: 22px;
}

.product-content-list .product-content-item .product-content-item-btn a:nth-child(1){
	float: left;
}

.product-content-list .product-content-item .product-content-item-btn a:nth-child(2){
	float: right;
}

.product-content-list .product-content-item .product-content-item-btn a {
	display: block;
    width: 70px;
    height: 25px;
    line-height: 23px;
    background: #FFF;
    font-size: 14px;
    color: #00923f;
    border: 1px solid #00923f;
    margin: 10px;
}

.product-content-list .product-content-item .product-content-item-btn a:hover {
	background-color: #00923f;
	color: #fff;
}

@media only  screen and (max-width: 1200px) {
	.product {
		width: 90%;
	}

	.product-content-list .product-content-item {
		width: 31%;
	}

	.product-content-list .product-content-item .product-content-item-btn a:nth-child(1){
		display: none;
	}

	.product-content-list .product-content-item img {
		width: 90%;
	}


	.product-content-list .product-content-item .product-content-item-text .product-content-item-text-price,
	.product-content-list .product-content-item .product-content-item-text .product-content-item-text-num {
		font-size: 18px;
	}

	.product-content-list .product-content-item .product-content-item-text .text-left {
		float: none;
	}

	.product-content-list .product-content-item .product-content-item-text .text-right {
		float: none;	
	}

	.product-content-list .product-content-item .product-content-item-btn a:nth-child(2){
		float: none;
		margin: 10px auto;
	}
}

@media only  screen and (max-width: 769px) {	
	.product-sidebar {
		display: none;	
	}

	.product-content {
		float: none;
		width: 100%;
	 	margin-left: 0px;
	}

	.product-content-list .product-content-item {
		width: 48%;
		margin: 0 1% 20px 1%;
	}
	
}

/*翻页*/
.pagenavi {
  max-width: 1200px;
  margin: 10px auto;
}

.pagenavi .nav-links {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	float: left;
}

.nav-links a {
  color: #000;
}

.nav-links a:hover {
  color: #30be4d;
  background-color: #ddd;
}

.nav-links a,
.nav-links span{
  font-size: 16px;
  border:1px solid #ddd;
  padding: 5px 10px;
  margin: 0 1px;
  float: left;
}

.nav-links .current {
   color: #30be4d;
   background-color: #ddd;  
}

/*购物车弹窗*/
.cart {
	padding: 100px;
	text-align: center;
	width: 300px;
}

.cart .cart-item1 {
	font-size: 24px;
	color: #333;
	line-height: 40px;
	font-weight: 500;
}

.cart .cart-item2 {
	font-size: 14px;
	color: #999;
	margin-bottom: 20px;
}

.cart .cart-btn {
	margin-top: 20px;
    background: #fff;
    cursor: pointer;
    border: 1px solid #DBDBDB;
    color: #616161;
    font-size: 14px;
    text-align: center;
    padding: 0px 28px;
    height: 38px;
    line-height: 38px;	
}

/*登录弹窗*/
.login {
	text-align: center;
	margin: 40px;
}

.login li {
    color: #666;
    font-size: 14px;
    margin-bottom: 18px;
}

.login input {	
    width: 300px;
    display: inline-block;
    border: 1px solid #8C96A1;
    border-radius: 3px 3px;
    height: 35px;
    line-height: 35px;
    margin-left: 15px;
    padding: 0px;
    text-indent: 10px;
}

.login .btn3 {
	background: #1490FD;
    border-radius: 3px 3px;
    height: 37px;
    line-height: 35px;
    color: #fff;
    border: 0px;
    box-shadow: 0px 1px 1px #aaa;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 63px;
}

.login #loginRegister a {
	font-size: 12px;
    line-height: 30px;
    color: #f00;
    text-decoration: underline;
}

.login #idBoxFpass a {
	color: #06c;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}

/*注册弹窗*/
.register {
	font-size: 12px;
    line-height: 180%;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 500px;
    text-align: center;
}

.register input {
	border: 1px solid #ccc;
    padding: 7px 4px;
    width: 89%;
    margin-bottom: 10px;
}

.register .itemName {
    font-size: 14px;
    color: #888;
    vertical-align: top;
    width: 100px;
    text-align: -webkit-right;
}

.register .itemName .redfont {
    color: #f30;
}

#Resdiv {
    margin-top: 20px;
    overflow-y: auto;
    height: 287px;
}

#Res #code {
    width: 60%;
}

#showbtn .btn {
    margin-bottom: 20px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    padding: 0px;
    text-align: center;
    width: 270px;
    height: 37px;
    line-height: 37px;
    background-image: none;
    background-color: #1490FD;
    text-shadow: none;
    box-shadow: 0px 1px 1px #aaa;
    margin-left: 10px;
    margin-right: 0px;
}
.page-container {
	max-width: 1200px;
	margin: 0 auto;
}
/*购买详情页*/
/*左侧图片点击放大*/
.preview{width:400px; height:465px; margin:50px 0px 0px 0; float: left;}
/* smallImg */
.smallImg{box-sizing: border-box; position:relative; height:52px; margin-top:1px; background-color:#F1F0F0; padding:6px 5px; width:400px; overflow:hidden;float:left;}
.scrollbutton{width:14px; height:50px; overflow:hidden; position:relative; float:left; cursor:pointer; }
.scrollbutton.smallImgUp , .scrollbutton.smallImgUp.disabled{background:url(../images/d_08.png) no-repeat;}
.scrollbutton.smallImgDown , .scrollbutton.smallImgDown.disabled{background:url(../images/d_09.png) no-repeat; margin-left:375px; margin-top:-50px;}

#imageMenu {height:50px; width:360px; overflow:hidden; margin-left:0; float:left;}
#imageMenu li {height:50px; width:60px; overflow:hidden; float:left; text-align:center;}
#imageMenu li img{width:50px; height:50px;cursor:pointer;}
#imageMenu li#onlickImg img, #imageMenu li:hover img{ width:44px; height:44px; border:3px solid #959595;}
/* bigImg */
.bigImg{position:relative; float:left; width:400px; height:400px; overflow:hidden;}
.bigImg #midimg{width:400px; height:400px;}
.bigImg #winSelector{width:235px; height:210px;}
#winSelector{position:absolute; cursor:crosshair; filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; background-color:#000; border:1px solid #fff;}
/* bigView */
#bigView{position:absolute;border: 1px solid #959595; overflow: hidden; z-index:999;top: 132px!important;}
#bigView img{position:absolute;width: auto!important;}

/*右侧购买文档*/
.summary{
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    width: 50%;
}
.summary h1{
    font-size: 20px;
    padding: 10px 0;
    color: #00923f;
}
.woocommerce-review-link{
    font-size: 13px;
    color: #A2A2A2;
}
.woocommerce-review-link span{
    font-size: 13px;
}
.woocommerce-review-link span.glyphicon{
    color: #b9b9b9;
}

@media only screen and (max-width: 950px) {
	.preview {
		width: 90%;		
		float: none;
	}
	.bigImg {
		margin: 0 auto;
		float: none;
	}

	.summary {
		width: 90%;
		float: none;
		margin: 30px auto;
	}

	.smallImg {
		margin: 0 auto;
		float: none;
	}
}
.price span{
    font-size: 20px;
    color: #ed4035;
    margin: 2px 0;
    display: inline-block;
}
.price{
    font-size: 14px;
    color: #6F6D6D;
    margin: 10px 0;
}
.quantity >input{
    width: 45px;
    height: 30px;
}
.single_add_to_cart_button{
    font-size: 14px;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #fff;
    background-color: #ed4035;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    margin-top: 20px;
    margin-right: 20px;
}
.xuanze-yanse>span{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 11px 4px;
    cursor: pointer;
    position: relative;
    border: 2px solid #eee;
}
.xuanze-yanse>span>b{
    position: absolute;bottom: 0;right: 0;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background: url(../images/icon-mall.png) no-repeat -202px -224px;
}
.span-border{
    border: 2px solid #ed4035!important;
}
.b-show{
    display: block;
}
.b-no{
    display: none;
}
.xuanze-yanse-p{
    font-size: 14px;
    color: #6F6D6D;
}

.xuanze-yanse img {
	width: 35px;
	height: 35px;
}

.page {
	font-family:  "Microsoft YaHei",'Open Sans', sans-serif;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #eee;
	width: 100%;
}

.page .page-content {
	width: calc( 100% - 40px);
	margin: 0 auto;
}

.text{
	background-color: #fff;
}

.page-list {
	height: 55px;
	box-sizing: border-box;
	margin-left: 10px; 
}

.current h5{		
	background-color: #fff;
}

.page-list .page-wrapper {
	display: inline-block;
}

.page-list .page-wrapper h5 {	
	color: #727475;
	cursor: pointer;
	font-size: 17px;
	padding: 10px 15px;
	margin: 0;
	margin-top: 13px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

@media only screen and (max-width: 769px) {
	
	.page-list .page-wrapper h5{
		font-size: 14px;
		margin-top: 16px;
	}

	.page-list {
		border-bottom: none;
	}

	.produces {
		margin: 30px auto;	
	} 
}

.description .description-content h2,
.reviews .reviews-content h2,
.reviews-add .reviews-add-content h2,
.page-enjoy .page-enjoy-title h2,
.page-relevant .page-relevant-title h2{	
    border-bottom: 2px solid #00923f;
    color: #00923f;
    font-size: 16px;
    font-weight: bold;
    padding: 40px 0 15px;
}

.description {
	padding: 20px;
}

.description .description-content p {
	padding: 25px 0;
	color: #333;
	font-size: 14px;
}

.reviews {
	padding: 20px;
}

.reviews .reviews-content .reviews-commentlist {
	margin: 0;
    border: 1px solid #e4e1e3;
    border-radius: 4px;
    padding: 1em 1em 0;
}

.reviews .reviews-content .reviews-commentlist .comment-text>p {
	margin: 15px 0;
	font-size: 13px;
	color: #555;
}

.reviews .reviews-content .reviews-commentlist .reviews-text {
	font-size: 14px;
	color: #111;
	margin: 25px 0;
}

.nav-links {
  max-width: 960px;
  margin: 10px auto;
}

.nav-links a {
  color: #000;
}

.nav-links a:hover {
  color: #30be4d;
  background-color: #ddd;
}

.nav-links a,
.nav-links span{
  font-size: 16px;
  border:1px solid #ddd;
  padding: 5px 10px;
  margin: 0 1px;
  float: left;
}

.nav-links .current {
  color: #30be4d;
  background-color: #ddd;  
  box-shadow: none;
}


.reviews-add .comment-form p{
	font-size: 16px;
	margin: 30px 0;
}

#comment {
	display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    height: 75px;
}

#submit {
	padding: 10px 12px;    
	font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #515151;
    background-color: #ebe9eb;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}

#submit:hover {
	background-color: #dad8da;
    text-decoration: none;
    background-image: none;
    color: #515151;
}

.page-enjoy-item {
	margin-top: 20px;
}

.page-enjoy-item div {
	background-color: #fff;	
}

.page-relevant {
	padding-bottom:80px; 
}

/*buy购物弹窗*/
.addCartBox {
	width: 840px;
	padding: 20px;
	text-align: center;
}

.addCartBox .loginTips {
	padding: 20px;
	border: 1px solid #FBECCB;
	background-color: #FCF8E2;
	margin-bottom: 15px;
}

.addCartBox .loginTips .txt {
    color: #F68300;
    font-size: 12px;
}

.addCartBox .loginTips .gologin {
    background: #ff0000;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border: 0px;
    margin: 0px 10px;
}

.loginTips .Rtxt {
    color: #666;
    font-size: 12px;
}

.loginTips .Rtxt a {
	color: #06c;
}

.cTable {
	margin-bottom: 50px;
}

.cTable .tr-title td {
    border: 1px solid #DBDBDB;
    background: #f5f5f5;
    border-width: 1px 0px;
    line-height: 40px;
    color: #666;
    text-align: center;
}

.cTable .tr-showlist td {
    border-bottom: 1px solid #dbdbdb;
    padding: 20px 5px;
    text-align: center;
}

.cTable .tr-showlist .proImg img{
    width: 85px;
}

.cTable .proPrice b {
    font-weight: bold;
    display: block;
    font-size: 16px;
    font-family: arial;
}

.cTable .NumList input {
    width: 25%;
    line-height: 26px;
    height: 28px;
    border: 1px solid #ccc;
    text-indent: 25px;
}

.cTable .price {
    font-size: 18px;
    color: #f00;
    font-weight: bold;
}

.cTable .delLink {
    color: #333;
}

.cartBottom {
    margin-top: 0px;
    background: #fafafa;
    border-radius: 0px 0px 3px 3px;
    width: 840px;
    padding: 20px;
}

.cartBottom .BContent {
    padding: 20px;    
}

.cartBottom .allselect {
    padding-right: 20px;
    font-size: 12px;
}

.cartBottom .BContent a {
    display: inline-block;
    margin-left: 10px;
    color: #333;
    font-size: 12px;
}

.cartBottom .allNum {
    padding-left: 12px;

    font-size: 12px;}

.cartBottom .saveMoney {
    color: #999;
    margin-right: 15px;
    font-size: 12px;
    transform: translateX(350px);
}

.cartBottom .cartBtn .cBtn {
    width: 110px;
    background: #f00;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    border: 1px solid #f00;
    cursor: pointer;
}

.cartBottom .cartBtn .whiteBtn {
    background: #fff;
    border: 1px solid #dbdbdb;
    color: #333;
    margin-right: 10px;
}

.cartBottom .allAccount {
    padding-left: 27px;
    padding-right: 0px;
    font-size: 12px;
}

.cartBottom .allAccount .p {
    color: #f30;
}

.cartBottom .cartBtn .whiteBtn:hover {
	background: #f00;
	color: #fff;
}

/*在线咨询*/
#service-open {
    width: 22px;
    height: 141px;
    border-top-left-radius: 26px;
    border-bottom-right-radius: 16px;
    background-color: #00923f	;
    position: fixed;
    top: 15%;
    right: 0;
    cursor: pointer;
    z-index: 999;
    color: #fff;
    padding-left: 6px;
    padding-top: 10px;
    font-size: 14px;
}

#service {
    width: 130px;
    padding: 65px 0 50px 0;
    border-radius: 4px;
    background-color: #00923f;
    color: #fff;
    position: fixed;
    z-index: 600;
    top: 35%;
    right: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    display: none;
}

#service-close {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 13px;
    background-color: #fff;
    box-shadow: inset 0px 0px 48px #00923f	;
}

.service-head {
    top: -45px;
    left: 22px;
    position: absolute;
}

#service p {
    margin-bottom: 0;
    text-align: center;
    padding: 5px 0;
    font-size: 13px;
}

.service-head img {
    width: 90px;
    height: 90px;
    /* border-radius: 45px; */
    cursor: pointer;
}

.service-bigimg {
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
}


/*关于*/
.about-content {
	max-width: 1200px;
	margin: 0 auto;
}

.about-content .about-title h2 {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	color: #3d3938;
	margin: 20px 0;
}

.about-content .about-text .about-text-item h3{
	font-size: 20px;
	padding:  10px 0;
	border-bottom: 2px solid #00923f;
}

.about-content .about-text .about-text-item p {
	font-size: 16px;
	line-height: 2;
}

.about-content .about-text .about-text-item {
	margin-bottom: 30px;
}